nav
	div(class='nav-wrapper')
		a(href='/', class='brand-logo') Pa1442
		a(href='/', data-activates='mobile-demo', class='button-collapse')
			i(class='material-icons') menu
		ul(class='right hide-on-med-and-down')
			li
				a(href='/') Home
			li
				a(href='/report') Report
			li
				a(href='/about') About
			li
				a(href='/demo') Demo
			li
				a(href='/chat') Chat
			li
				a(href='/mongodb') Mongo

		ul(id='mobile-demo', class='side-nav')
			li
				a(href='/') Home
			li
				a(href='/reports') Report
			li
				a(href='/about') About
			li
				a(href='/demo') Demo
			li
				a(href='/chat') Chat
			li
				a(href='/mongodb') Mongo
