extend layout

block content
    h1 About


    p The course Web-based framework 2, a.k.a. framework2, teaches development, testing and deployment of applications and servers where most different frameworks are part of the applications and services that create a total solution.
    p We build a larger total solution where multiple clients are linked to one or more servers based on different technologies and frameworks. Everyone interacts to create a total solution, a system, according to a given specification.


    a(href='https://github.com/ericN93/ramverk2') My Github Repo
    br
    a(href='https://github.com/ericN93/ramverk2_project') My Github Repo for my project

    img(class="picAbout" id="frameworkpic" src="/images/framworkpic.png")
