extend layout

block content
    h1 Demo

    p This will be a demo page for the project.
    b How do i use real-time aspect into my application?.
    p I will use real-time aspect in form of a chat, the plan at this moment is that it will be a chat were the user can whisper to user and start groupchats. But for now it´s just a regular chat were all write to all.

    b How do i use database aspect into my application?.
    p In this project i will use "Firebase", the things i will use database for is a CRUD and login/registation on the page. I CRUD is for that users will be able to add/edit/view and remove questions in the forum. 
