extend layout.pug

block content
    h1 Tjena!
    p My name is Eric Nilsson, i study webbprogrammering at bth in karlskrona. It´s my final year and this is my me-page for the course "Ramverk2"



    img(class="pic", id="image" src="/images/me.jpg")
