extend layout

block content
    h1 Redovisning

    h3 Kmom01:
    b Berätta utförligt om din syn på Express och Pug och hur de samverkar. Relatera till andra ramverk du jobbat med. Lyft fram de fördelar och eventuellt nackdelar du finner, eller bara notera skillnader och likheter.
    p Jag tycker änsålänge att express och pug verkar ganska smidigt, tyckte i början att strukturen var lite jobbig men som precis som allt annat man har jobbat med så kommer man in i det efter ett tag. inget änsålänge jag hade fördragit att jobba med kanske men det kanske ändrar sig under denna kursen.
    p Jag har inte jobbat med så många olika ramverk änsålänge, det är bara "Anax"(som vi hade i första ramverk kursen), AngularJS och Angular. Gillar strukturen mer när jag har jobbat med Angular då det är mer sepererat till vad som tillhör vad, då en component, html samt css ligger i en egen map. Så varje component i systemet har en egen map där allt som till hör den ligger i. Där av blir det en lättare struktur att jobba i tycker jag.
    p Tycker dock att pug verkar vara ganska smidigt, tycker det var roligt att jobba samtidigt som det är något nytt. Gillar hur man kan extenda vyer med andra vyer och bygga upp en layout på ett sådant sätt.
    p En nackdel som jag skulle vilja säga är att det känns att det kommer bli en lite jobbigare struktur på det när man ska göra ett lite större system. Men om man ska göra ett lite mindre så har det sina fördelar.


    b Berätta om din katalogstruktur och hur du organiserade din kod, hur tänkte du?
    p Använde "Express application generator" som då autogenererade större del av katalogstrukturen/arkitekturen på systemet. I mina views gjorde jag en map som heter "inc" där la jag min Header, footer och Navbar. Tyckte att det blev bra då jag seperera det som ska vara statiskt på sidan och det som ska är mer enskilda vyer.
    p I public har jag mina kataloger som ska innehålla mina bilder, min javascript samt min style. I routes har jag änsålänge inget mer än min routes och den logiken.

    b Använde du någon form av scaffolding som Express erbjuder?
    p Jag använde som tidigare sagt "Express application generator" som byggde upp lite av strukturen på min application. Men använde inget yttligare.

    b Jobbar du med Markdown för innehållet, eller annat liknande?
    p Nej, det ända jag änsålänge har gjort mitt innehåll med änsålänge är pug.
    p Funderar på om man ska ta in md senare kanske om det kommer ett utfall det hade varit mer passande.

    h3 Kmom02:
    p kmom02

    h3 Kmom03:
    p kmom03

    h3 Kmom04:
    p kmom04
