extend layout

block content
    h1 Redovisning

    h3 Kmom01:
    b Berätta utförligt om din syn på Express och Pug och hur de samverkar. Relatera till andra ramverk du jobbat med. Lyft fram de fördelar och eventuellt nackdelar du finner, eller bara notera skillnader och likheter.
    p Jag tycker änsålänge att express och pug verkar ganska smidigt, tyckte i början att strukturen var lite jobbig men som precis som allt annat man har jobbat med så kommer man in i det efter ett tag. inget änsålänge jag hade fördragit att jobba med kanske men det kanske ändrar sig under denna kursen.
    p Jag har inte jobbat med så många olika ramverk änsålänge, det är bara "Anax"(som vi hade i första ramverk kursen), AngularJS och Angular. Gillar strukturen mer när jag har jobbat med Angular då det är mer sepererat till vad som tillhör vad, då en component, html samt css ligger i en egen map. Så varje component i systemet har en egen map där allt som till hör den ligger i. Där av blir det en lättare struktur att jobba i tycker jag.
    p Tycker dock att pug verkar vara ganska smidigt, tycker det var roligt att jobba samtidigt som det är något nytt. Gillar hur man kan extenda vyer med andra vyer och bygga upp en layout på ett sådant sätt.
    p En nackdel som jag skulle vilja säga är att det känns att det kommer bli en lite jobbigare struktur på det när man ska göra ett lite större system. Men om man ska göra ett lite mindre så har det sina fördelar.


    b Berätta om din katalogstruktur och hur du organiserade din kod, hur tänkte du?
    p Använde "Express application generator" som då autogenererade större del av katalogstrukturen/arkitekturen på systemet. I mina views gjorde jag en map som heter "inc" där la jag min Header, footer och Navbar. Tyckte att det blev bra då jag seperera det som ska vara statiskt på sidan och det som ska är mer enskilda vyer.
    p I public har jag mina kataloger som ska innehålla mina bilder, min javascript samt min style. I routes har jag änsålänge inget mer än min routes och den logiken.

    b Använde du någon form av scaffolding som Express erbjuder?
    p Jag använde som tidigare sagt "Express application generator" som byggde upp lite av strukturen på min application. Men använde inget yttligare.

    b Jobbar du med Markdown för innehållet, eller annat liknande?
    p Nej, det ända jag änsålänge har gjort mitt innehåll med änsålänge är pug.
    p Funderar på om man ska ta in md senare kanske om det kommer ett utfall det hade varit mer passande.

    h3 Kmom02:
    b Har du jobbat med Docker eller andra virtualiseringstekniker innan?
    p Nej det har jag inte. Tyckte det var riktigt roligt, det var något nytt för mig samt har jag hört talas om det en del. Vill verkligen expandera mina kunskaper inom det och kunna uttnytja det till fullo. Det är verkligen en teknik som jag kan rekommendera till andra.

    b Hur ser du på möjligheterna att använda dig av Docker för att jobba med tester av ditt repo?
    p Tycker det finns mycket bra möjligheter att använda det som ett testnings verktyg om man nu vill försäkra sig att det ska funka på flera olika version. Det är enkelt att komma in i tyckte jag och enkelt att hantera och där av göra testnings processen mycket enklare är ursprungligen. Hoppas verkligen att vi kommer att använda det mer under kursens gång.

    b Gick allt smidigt eller stötte du på problem?
    p Jag tyckte att det gick relativt smidigt. Stötte inte på några direkt större problem under detta kursmomentet. Det var bra guidning i övningen som gav en mycket bra grund/intro till verktyget. Jag tog dock min tid på att läsa igenom lite dokumentation och hela installations processen då jag har hört att det kan vara lite krångligt att få upp det, men det flöt på riktigt bra.

    b Skapade du din egen image, berätta om den?
    p Nej det gjorde jag inte. Hade gärna velar göra det men kände att jag ville lägga lite extra tid på en annan kurs. Tror jag kommer ta mig an att göra en image när jag får rum för det.

    b Övrigt
    p I uppgiften ska man se till att ens kmom går igenom valideringen och det gör det som jag har gjort. Får dock en del fel när jag validerar cimage, när vi skulle testa det i övningen clonade man ner det som Mos har gjort. Tycker personligen att jag inte ska fixa det men vet inte riktigt.

    h3 Kmom03:
    b Berätta vilka tekniker/verktyg du valde för enhetstester och kodtäckning och varför?
    p Det jag körde med var scrutinizer samt Travis. Jag valde att använda dessa då jag har använt dem lite tidagre, och tycker att dem funkar smidigt. Använde också codecov och det var nog mer av en slump att jag använde det, tyckte väl att det såg helt ok ut samt ville ge det en chans.

    b Berätta om cin CI-kedja och reflektera över de valen du gjorde?
    p Vissa av verktygen valde jag då jag har använt dem innan, dem andra var mer av en slump samt ville testa det. Tyckte det var lite svårt att hitta de fel som uppstod men tyckte att jag fick ett litet grep om det mot slutet. Hade lite problem att få ihop några av dem nya verktygen jag använde men fick ihop det tillslut.

    b Hur väl lyckades du utvärdera TDD-konceptet och vilka är dina reflektioner?
    p Jag har gått en testnings kurs där vi använde oss av TDD i en uppgift. Tycker inte att det är så frästande att jobba på det viset. Jag har inte kommit igång så mycket med att jobba med TDD då jag mestadels bara satte ihop det så jag visste hur det funkade osv. Kommer nog att använda det mer när jag väl har kommit igång med min back-end mer. Vet inte om jag kommer testa front-end så mycket då ja ginte ser direkt poängen med det.

    b Berätta om tankarna kring din klient/server applikation och nämn de tekniker du använder.
    p Jag använder mig utav den senaste versionen av angular. Min back-end består av expresssom sedan kommer kommunicera med min databas(vet inte riktigt vad för databas jag ska köra ännu). Jag kommer sedan att fixa realtid i senare kmom har inte riktigt bestämt mig annu för hur jag ska göra angående den delen. Angular kommer skötta min front-end som kommunicerar med API:et för att hämta samt ta hand om data.
    p Anledningen varför jag har valt angular är att jag har jobbat lite med det innan och tycker det är roligt att jobba i. Borde kanske ha tagit ett annat ramverk för att lära mig mer om andra ramverk, men så blev det inte.

    b Övrigt:
    p Tyckte det varit ett lagom utmanande kmom. Tycker generellt att testning och den delen är lite smått tråkigt, men viktigt är det så det är bara att lära sig det. Längtar mer till att vi börjar koppla till databas och den biten.
    p Får fortfarande lite validerings fel i test/routes/index.js och det är följande:
    p 9:1  error  'describe' is not defined    no-undef
    p 12:5  error  'beforeEach' is not defined  no-undef
    p 16:5  error  'afterEach' is not defined   no-undef
    p 19:5  error  'it' is not defined          no-undef
    p 24:5  error  'it' is not defined          no-undef
    p 29:5  error  'it' is not defined          no-undef
    p 34:5  error  'it' is not defined          no-undef
    p 39:5  error  'it' is not defined          no-undef
    p Har testat att fixat dem men vet inte riktigt hur jag ska det.


    h3 Kmom04:
    b Är du ny på realtidsprogrammering eller har du gjort liknande tidigare?
    p Jag har jobbat lite med realtidsprogrammering innan och det var i en javascripts kurs som jag hade tidigare.
    p I den kursen gjorde vi också en chattapplikation. Och det var med ungefär samma tekniker om jag inte minns helt fel, tror det mesta var likadant men har för mig det är en del skillnader från denna kursen.
    b Hur gick det att jobba med konceptet realtidsprogrammering i webben, några reflektioner?
    p Att applicera in chatten i redovisningssidan gick bra, det gick hyfsat snabbt och var ganska enkelt eftersom det var ungefär likadant från övningarna. Att applicera in det i min angular5 projekt var en hel del fix, var tvungen att jobba på ett helt annat sätt skulle jag vilja säga än hur man gjorde i övningarna.
    p Men tycker att jag har fått ett bra grep om det för att kunna fortsätta utveckla men realtidsaspekt.
    b Berätta om din chatt som du integrerade i redovisa-sidan.
    p Man går till sidan "Chat" sedan skriver man in sitt nickname innan man trycker connect. Sedan är det bara att skriva. Chatten går på "ws://localhost:3000/".
    b Berätta om den realtidsfunktionalitet du väljer att integrera i din klient/server applikation.
    p På min klient/server applikation ska jag göra en chatt. Jag ska fixa så att en användare kan skriva till specifika personer samt göra grupper. Tänker även lägga till några andra funktionaliteter när det kommer till chatten men har inte bestämt mig helt än.
    p Just nu är det en vanlig chat där alla skriver till alla med nickname och man kan se hur många det är som är inne i chatten.
    p För att komma igång/testa min applikation är det bara att hämta ner det, sedan installer med "npm install" i projektkatalogen. När installationerna är klara är det att köra igång servern med "node server.js", sedan kör man igång applikationen med "ng serve".

    h3 Kmom05
    b Hur gick det att komma igång med databasen MongoDB?
    p De gick väl helt ok. Hade en del problem docker först när jag började, min kontainer funkade inte riktigt så det tog ett tag innan jag fick ihop det. Tyckte att vi fick en bra grund till mongodb från övningen att komma igång med första uppgiften. Gjorde en del klantiga fel som gjorde att det tog längre tid än vad det behövde som tex exportera mina moduler.
    b Vilken syn har du på databaser inom konceptet NoSQL?
    p Jag tycker det funkar bra, använde MongoDB i ett gruppprojekt för ett tag sen. Tyvärr så jobbade jag mest på frontend det projektet som gjorde att jag knappt rörde något med sjävla MongoDB. Annars har jag inte jobbat med något NoSQL. Jag gillar konceptet och tycker det är jävligt smidigt och kan mycket väl tänkte mig att jobba med det i framtiden.
    b Reflektera över skillnader och likheter mellan relationsdatabaser och databaser inom NoSQL.
    p Skillad är ju att med NoSQL så använder man sig av objekt istället för quires. Tycker NoSQL funkar bra om man mest ska presentera data som inte ska ha några direkt relationer till något annat. Om man ska ha relationer mellan datan är tycker jag att relationsdatabaser verkar 10 gånger bättre. Har inte full koll på NoSQL´s föredelar/nackdelar riktigt och jag skulle inte kunna säga att jag kan använda det till fullo, men är säker på att det finns en hel del knep till det.
    b Vilka är dina tankar om asynkron programmering med JavaScript?
    p Skulle inte kunna säga att jag har skaffat 100% koll på det ännu men kan tänka mig att det är jättesmidigt när man väl kan hantera det riktigt. Tycker det verkar som ett bra koncept.
    b Hur känner du för Docker och det sättet vi jobbar med tjänster i kontainrar?
    p Jag tycker det känns bra, jag sitter på mac och tycker att det funkar bra. Hade lite problem innan att jag var tvungen att göra om mina kontainrar av någon anledning jag inte riktigt vet varför, hittade en lösning på nätet där man skulle köra några kommandon i följd som löste det. Men tycker annars att det funkar bra och är extremt smidigt när man har kommit in i det.

    h3 Kmom06
    b Reflektera över vikten av infrastruktur för moduler för ett programmeringsspråk.
    p Jag tycker att vikten av infrastrukturen är sjukt viktigt. Har varit med i projekt i både grupp och individuellt där man har gjort en dålig infrastruktur i början av projektet. Det kan/har ledat till att man har fått göra om en hel del eller fått göra visa saker jobbigare än vad det egentligen skulle ha varit.


    b Vill du ge dig på att förklara att just npm är den tjänsten som växt snabbast av de modulerkataloger som presenteras på webbplatsen “Module Counts”?
    p Jag skulle vilja säga/tro att javascript har vuxit så extremt mycket och att det gör det hela tiden.
    Medans Javascript har växt så mycket så har andra språk som konkurrerar mot Javascript minskat då folk föredrar Javascript. Javascript har även blivit/blir mer flexibelt.


    b Reflektera över hur arbetet gick att välja, separera, publisera och sedan åter integrera module i din applikation.
    p Jag tyckte att det var sjukt svårt. Har inte gjort något liknande innan faktiskt, att ta ut något ur sin kod och sedan göra det flexibelt/generellt. Först tog jag mig an att ta ut min WebSocket och gjorde det till min modul. Vilket gick bra/enkelt men jag hade sjukt svårt att göra mina enhetstester på det. Jag var inte så bekväm med det kan man säga och det gick inte så speciellt bra samt att jag var inte nöjd med det. Som tur var hade jag börjat jobba lite på/hade som tanke att man ska kunna skicka "kommandon" i chatten som skulle bli något coolt(eller vad jag ville skulle bli coolt iaf). Så jag tog ut den funktionaliteten och gjorde min modul på det istället, vilket lede till enklare enhetstesting som jag var nöjd/bekväm med. Att publisera samt integrera modulen sedan i min applikation var enkelt, och det gick mycket snabbt. Jag lärde mig en hel del av detta kmom:t.


    b Sista uppgiften om att dokumentera och färdigställa redovisa-sidan, tog det mycket tid eller hade du allt klart?

    p Jag hade inte så mycket/inget alls där så det var en del att göra. Men det stod klart o tydligt vad ni ville ha med så det var bara att göra. Det tog lite tid men var inget svårt, har fått lite kritik från det vilket jag förstår. Har väl varit lat med att tänka själv och gjorde mest vad som stod som krav inom kursen vilket lede till att jag inte hanterade det så bra.

    h3 Kmom10

    b Intro:
    p https://github.com/ericN93/ramverk2_project
    p Det kraven jag har tagit mig an i detta projekt är 1-3(har dock haft lite problem med codecoverage, skriver mer om det i Krav 1-3). Krav 4 har jag försökt mig på iaf, det kändes lite abstrakt med tanke på att det är svårt att definiera "Bra" men är nöjd med den. Krav 5 har jag inte tagit mig an då jag inte var särskilt sugen på att hålla på med images. Krav 6 har jag också gjort ett försök på, skriver mer om det i "Krav 6" här under.

    b Krav 1-3:
    p Krav 1-3 ska ok uppfyllt, allt om "Applikationen och teknikval",  "Installation", "Testning", "Kedja för Continuous integration", "Realtid", "Databas" och Egen modul på npm står i min README(LÄNK TILL README). Något som jag har haft problem med dock är testningen, jag har en Service som heter FirebaseService som funkar bra till min applikation och allt men när det kommer till testning av den har jag haft en hel del problem. Denna service används i nästan alla min komponenter som jag har i applikationen och eftersom jag inte har fått ihop testing i den servicen så har kan inte resterande komponenter som använder den servicen inte heller testas. Jag har fått ihop testning med bra codecoverage i SocketService, dem andra kraven som är inom testning funkar bra, docker testning tex(Finns instruktioner i README hur det funkar). Att köra vanlig testning med npm run test funkar inte på min maskin då jag får felet "Chrome 63.0.3239 (Mac OS X 10.12.6) ERROR" som jag nämner i min README.md vet jag inte riktigt vad det är för fel, men då det funkar fel fritt på docker så antar jag att felet är på min maskin.
    

    b Krav 4:
    p När det kommer till Krav 4 så har jag gjort mitt bästa där iaf. Tyckte att det var ganska abstrakt och veta vad som är "Bättre än bra". Har iaf gjort så jag är nöjd med den och tar gärna emot kritik på den så jag kan bli bättre.

    b Krav 5:
    p Krav 5 har jag inte tagit mig an.

    b Krav 6:
    p I Krav 6 så har jag skrivit om Googles "Firebase", jag har använt den tekniken under detta projektet och tycker att det har varit mycket intressant o roligt. Lite samma här när det kom till kravet, det var lite abstrakt och svårt att veta exakt vad som ska/behövs göras för att uppfylla kravet. Har iaf skrivit några stycken o hoppas att ni tycker att det är intressant(Kan nås på denna länk: LÄNK).

    b Vägval:
    p Jag valde att inte bygga vidare från kursmomenten i detta projekt, jag kände att jag ville ta mig an Anuglar5 då jag har jobbat en del i Angular2 och har tyckt det var roligt. När det kommer till databas så valde jag lite kluven på om jag skulle ta MongoDB eller Firebase, MongoDB kände jag mer bekväm i men samtidigt var jag ganska sugen på att testa något nytt. Efter mycket om och men så valde jag att ta Firebase då det var mer spännande att ta sig an. Att byta till Angular5 och till Firebase var nog de stora vägvalen under detta projekt, jag är även nöjd med att jag gjorde de valen.


    b Allmänt stycke:
    p Detta projektet har gått bra tycker jag, det har varit en hel del utmaningar som jag stötte på tex testningen och docker. Att fixa docker till angular var mycket utmanande, att få upp själva servern i docker var inte det svåraste utan att få ihop testningen. Att testa med karma i docker har varit mycket jobbigt och har fått testa mig fram till stor del, googlade på delmeddelanden jag fick sen var det bara att testa om igen. Att  få upp firebase i projektet var mycket enklare än vad jag trodde det skulle vara, det gick snabbt och krävde faktiskt inte så mycket. Detta projektet tog inte så jättelång tid att utföra då man jobbade med det parallelt genom kursmomenten, tyckte dock att det hade varit ett roligare projekt om man hade fått programmera mer och inte behöva skriva så mycket samt testa osv. Det var ett bra och rimligt projekt enligt mig för denna kurs men, men som sagt hade det gärna fått innehålla mer programmering och mindre testning.


    b Avslutning:
    p Jag tycker denna kursen har varit lärorik, vi har gjort mycket olika saker och samtidigt varit roligt. Det har dock varit lite kaos då det ibland har varit lite mycket att göra och lite roligt eftersom vi har jobbat med två olika repon på git parallelt med varandra. Vet inte om det kanske bara var jag men kände att det blev lite rörigt ibland. Jag personligen gillar mer att man får instruktioner vad det är man ska programmera, tyckte det blev lite jobbigt att komma på något själv och då det mest står att vi ska använda databas och realtidsaspekt så är det lätt att man blir lat. Jag skulle kunna rekommendera denna kursen till vänner/kolleger om kursen hade blivit mer strukturerad och inte varit så rörig som den har varit nu. Jag skulle vilja ge denna kursen 7/10 då samtidigt som det var mycket att göra och lite rörigt osv så gillade jag ändå innehållet i kursen, jag har lärt mig mycket nytt och det är väl det som är lite av poängen iaf?
