extend layout

block content
    h1 Redovisning

    h3 Kmom01:
    b Berätta utförligt om din syn på Express och Pug och hur de samverkar. Relatera till andra ramverk du jobbat med. Lyft fram de fördelar och eventuellt nackdelar du finner, eller bara notera skillnader och likheter.
    p Jag tycker änsålänge att express och pug verkar ganska smidigt, tyckte i början att strukturen var lite jobbig men som precis som allt annat man har jobbat med så kommer man in i det efter ett tag. inget änsålänge jag hade fördragit att jobba med kanske men det kanske ändrar sig under denna kursen.
    p Jag har inte jobbat med så många olika ramverk änsålänge, det är bara "Anax"(som vi hade i första ramverk kursen), AngularJS och Angular. Gillar strukturen mer när jag har jobbat med Angular då det är mer sepererat till vad som tillhör vad, då en component, html samt css ligger i en egen map. Så varje component i systemet har en egen map där allt som till hör den ligger i. Där av blir det en lättare struktur att jobba i tycker jag.
    p Tycker dock att pug verkar vara ganska smidigt, tycker det var roligt att jobba samtidigt som det är något nytt. Gillar hur man kan extenda vyer med andra vyer och bygga upp en layout på ett sådant sätt.
    p En nackdel som jag skulle vilja säga är att det känns att det kommer bli en lite jobbigare struktur på det när man ska göra ett lite större system. Men om man ska göra ett lite mindre så har det sina fördelar.


    b Berätta om din katalogstruktur och hur du organiserade din kod, hur tänkte du?
    p Använde "Express application generator" som då autogenererade större del av katalogstrukturen/arkitekturen på systemet. I mina views gjorde jag en map som heter "inc" där la jag min Header, footer och Navbar. Tyckte att det blev bra då jag seperera det som ska vara statiskt på sidan och det som ska är mer enskilda vyer.
    p I public har jag mina kataloger som ska innehålla mina bilder, min javascript samt min style. I routes har jag änsålänge inget mer än min routes och den logiken.

    b Använde du någon form av scaffolding som Express erbjuder?
    p Jag använde som tidigare sagt "Express application generator" som byggde upp lite av strukturen på min application. Men använde inget yttligare.

    b Jobbar du med Markdown för innehållet, eller annat liknande?
    p Nej, det ända jag änsålänge har gjort mitt innehåll med änsålänge är pug.
    p Funderar på om man ska ta in md senare kanske om det kommer ett utfall det hade varit mer passande.

    h3 Kmom02:
    b Har du jobbat med Docker eller andra virtualiseringstekniker innan?
    p Nej det har jag inte. Tyckte det var riktigt roligt, det var något nytt för mig samt har jag hört talas om det en del. Vill verkligen expandera mina kunskaper inom det och kunna uttnytja det till fullo. Det är verkligen en teknik som jag kan rekommendera till andra.

    b Hur ser du på möjligheterna att använda dig av Docker för att jobba med tester av ditt repo?
    p Tycker det finns mycket bra möjligheter att använda det som ett testnings verktyg om man nu vill försäkra sig att det ska funka på flera olika version. Det är enkelt att komma in i tyckte jag och enkelt att hantera och där av göra testnings processen mycket enklare är ursprungligen. Hoppas verkligen att vi kommer att använda det mer under kursens gång.

    b Gick allt smidigt eller stötte du på problem?
    p Jag tyckte att det gick relativt smidigt. Stötte inte på några direkt större problem under detta kursmomentet. Det var bra guidning i övningen som gav en mycket bra grund/intro till verktyget. Jag tog dock min tid på att läsa igenom lite dokumentation och hela installations processen då jag har hört att det kan vara lite krångligt att få upp det, men det flöt på riktigt bra.

    b Skapade du din egen image, berätta om den?
    p Nej det gjorde jag inte. Hade gärna velar göra det men kände att jag ville lägga lite extra tid på en annan kurs. Tror jag kommer ta mig an att göra en image när jag får rum för det.

    b Övrigt
    p I uppgiften ska man se till att ens kmom går igenom valideringen och det gör det som jag har gjort. Får dock en del fel när jag validerar cimage, när vi skulle testa det i övningen clonade man ner det som Mos har gjort. Tycker personligen att jag inte ska fixa det men vet inte riktigt.

    h3 Kmom03:
    p kmom03

    h3 Kmom04:
    p kmom04
