body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}


.pic {
    width: 150px;
}

.picAbout {
    width: 100%;
    height: 300px;
}

.container {
    border-bottom-style: dotted;
}

.output {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border: 1px solid #aaa;
    overflow: scroll;
    font-size: smaller;
}
